<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <h1>ProductList</h1>
        <div th:each="p:${items}" class="col-sm-4">
        	<div class="panel panel-primary poly-item text-center" >
                <div class="panel-heading">
                    <div class="panel-title" th:text="${p.name}"></div>
                </div>
                <div class="panel-body">
                    <a th:href="@{|/product/detail/${p.id}|}">
                        <img th:src="@{|assets/images/${i.image}|}">
                    </a>
                </div>
                <div class="panel-footer text-right">
                    <b class="pull-left">$[[${p.price}]]</b>
                    <button class="btn btn-success">
                        <i class="glyphicon glyphicon-shopping-cart "></i>
                    </button>
                </div>
            </div>
        	
        </div>
    </main>
</body>
</html>